@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Monofett|Rhodium+Libre');

body {
  text-align: center;

  background: url("https://c1.staticflickr.com/7/6163/6148871513_6b045c43ab_b.jpg");
  background-size: cover;
  color: rgb(90,123,140);
  padding:0;
  font-family: 'Rhodium Libre', serif;
  font-size:1.5em;


}
h1 {
	font-family: 'Monofett', cursive;
	font-size: 90px;
	font-weight: 100;
	color: rgb(90,123,140);
}

#slogan {
	font-family: 'Amatic SC', cursive;
	color: burlywood;
	font-size:60px;
	font-weight:bolder;
}
#menu {
	font-weight: bolder;
}

h3 {   
    font-size: 100px;
}

hr {
  width: 500px;
}

p { font-size: 2em;
	list-style-type: none;

}
ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    font-weight:bolder;
}