body {
  text-align: center;
  list-style-type:none;
  background: url("https://a.ctimg.net/umuLKaFqRb6Y9BzLe-npwA/indian-style-cappuccino.jpg");
  background-size: cover;
  color: #FFFEE6;
  padding:0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
h3 {   
    font-size: 20px;
}
hr {
  width: 400px;
}

p { font-size: 40px; 
}