body {
  text-align: center;
  list-style-type:none;
  background: url("https://c1.staticflickr.com/7/6163/6148871513_6b045c43ab_b.jpg");
  background-size: cover;
  color: rgb(90,123,140);
  padding:0;
  font-family: Tahoma, Geneva, sans-serif
}
h1 {
	font-size: 70px;
	font-weight: 900px;
	color: rgb(90,123,140);
}

#slogan {
	font-family:"Verdana",sans-serif;
	font-weight: 900px;
	color: burlywood;
	font-size:48px;
	color: blanchedalmond;
}

h3 {   
    font-size: 80px;
}
hr {
  width: 400px;
}

p { font-size: 35px;
	list-style-type: none;
}
ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    font-weight:bolder;
}
